<!DOCTYPE html>
<html lang="kr">

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
      <title>Horizon</title>
      <!-- <link rel="icon" href="img/avocado.ico" type="image/x-icon" /> -->
      <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
      <link rel="stylesheet" href="css/home.css" type="text/css" media="all">
      <link href="https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic|Gothic+A1|Ubuntu" rel="stylesheet">
    </head>

    <body>
      <div class="navbar">Horizon</div>

      <div class="body-content">

        <div class="services">
          <button type="button" name="button">키스톤</button>
        </div>

        <div class="outer-services">

          <div class="service-sec">
            <div id="rancher" class="service-btn">Rancher</div>
            <div id="munin" class="service-btn">Munin</div>
            <div id="trello" class="service-btn">Trello</div>
          </div>

          <div class="service-sec">
            <div id="vultr" class="service-btn">Vultr</div>
            <div id="github" class="service-btn">Github</div>
            <div id="travis" class="service-btn">Travis CI</div>
          </div>

          <div class="service-sec">
            <div id="sentry" class="service-btn">Sentry</div>
            <div id="apiary" class="service-btn">Apiary</div>
            <div id="django" class="service-btn">Django Admin</div>
          </div>

          <div class="service-sec">
            <div id="analytics" class="service-btn">Google Analytics</div>
            <div id="drive" class="service-btn">Google Drive</div>
            <div id="blog" class="service-btn">Naver Blog</div>
          </div>

        </div>
      </div>

      <script src="js/home.js"></script>
    </body>

</html>
